.env

# 환경변수 파일
*.env
.env.*

# 가상환경
venv/
*.venv
.venv

# 컴파일된 python파일
__pycache__/
*.pyc

# Jupyter 노트북 캐시
.ipynb_checkpoints

# RAG 및 벡터 DB 관련 파일
vectorstore/
vectordb*
*.pkl
*.bin
source_docs/
embeddings_cache/
*.log
rebuild_chroma.py 
update_popularity.py
확인용.py


# IDE 관련 파일
.vscode/
.idea/

#cloud 파일
run-us-central1.py