[project]
name = "bible-postoffice"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.13"
dependencies = []
[[tool.uv.index]]
url = "https://download.pytorch.org/whl/cpu"
